# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
.terraform/
.terraform.lock.hcl
.terraform.lock.hcl.*
*.tfplan
*.tfplan.*

# Function packages
.packages/
**/.packages/
*.zip

# Environment files
.env
.env.local

# IDE files
.idea/
.vscode/
*.swp
*.swo
*~

